{% extends 'base.html' %}
{% block content %}
  <h3>{{ virtual_environment.name }}</h3>
  <dl>
    <dt>Market</dt>
    <dd>{{ virtual_environment.market }}</dd>
    <dt>Region</dt>
    <dd>{{ virtual_environment.site }}</dd>
    <dt>Segment</dt>
    <dd>{{ virtual_environment.segment }}</dd>
    <dt>Application layer</dt>
    <dd>{{ virtual_environment.application_layer }}</dd>
    <dt>Pipe</dt>
    <dd>{{ virtual_environment.pipe }}</dd>
    <dt>Notes</dt>
    <dd>{{ virtual_environment.notes }}</dd>
    <dt>Status</dt>
    <dd>{{ virtual_environment.status }}</dd>
  </dl>
{% endblock content %}
